body {
}


div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.caption {
    display: block;
}

ul
{
list-style-type: none;
}


 .barraLateralJuego, #divEdificios { float: left; }