<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_IServiceEmployees" />
          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="http://localhost:8834/tsi/ServiceEmployees" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEmployees" contract="IServiceEmployees" name="BasicHttpBinding_IServiceEmployees" />
      </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ER1Mongo" connectionString="mongodb://localhost" />
    <add name="ER1Entities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER\SQLEXPRESS;initial catalog=ER1;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="frontofficedbEntities" connectionString="metadata=res://*/Relacional.Model.Model1.csdl|res://*/Relacional.Model.Model1.ssdl|res://*/Relacional.Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=frontofficeserver.database.windows.net;initial catalog=frontofficedb;persist security info=True;user id=tsi1@frontofficeserver;password=gabilo2016!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
